<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_stuct_hibernate:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_stuct_hibernate_war_exploded2</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_stuct_hibernate" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Hibernate" />
          <element id="library" level="project" name="Struts 2" />
          <element id="library" level="project" name="Spring" />
          <element id="library" level="module" name="JUnit5.2" module-name="spring_stuct_hibernate" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_stuct_hibernate/web/Web" />
    </root>
  </artifact>
</component>